doctype html
head
	meta(charset='utf-8')
	link(rel='stylesheet', href='css/landing.css', type='text/css')
	link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
	link(rel='stylesheet', href='css/picker.css', type='text/css')
	script(src='//code.jquery.com/jquery-1.11.1.min.js')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src='https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js')
	link(href='https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css' rel='stylesheet')
	body.text-center
		include navbar.pug
		.container.text-center
			.py-5
				h2 Chose the words you want to apply :
				p.lead
				form(name='new')
					.form-group
					include selector.pug
					button#load.btn.btn-primary.btn-lg.active(onclick='post_datas()' type='button' style='margin-top:10px') get words
				img(src='img/figure.png')
			a.btn.btn-primary.btn-lg.active(href='/pick') get the letters sorted by occurence

script(type='text/javascript', src='js/script.js')
