nav.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/image') second step
      li
        a(href='/pick') third step
      li
        a(href='/compared') last step
