select#algo.chosen-select.form-control(data-placeholder='Begin typing a name to filter...' multiple='' name='value[]')
		option(value='[]')
		option innovative
		option inventive
		option creative
		option imagination
		option new
		option vision
		option eclectic
		option exquisite
		option artistic
		option creative
		option exotic
		option whimsical
		option twist
		option unique
		option inspired
		option authentic
		option palate
		option minimalistic
		option sophisticated
		option atmospheric
		option delicate
		option cuisine
		option traditional
		option diverse
		option flair
		option japanese
		option interesting
		option zen
		option informal
		option understated
		option delectable
		option eccentric
		option contemporary
		option themed
		option artsy
		option styles
		option nouveau
		option subtle
		option refined
		option scrumptious
		option expansive
		option extensive
		option distinctive
		option flavors
		option tasteful
		option cuisines
		option overdone
		option elaborate
		option tasty
		option appetizer
		option elegant
		option talented
		option aria
		option edgy
		option spicy
		option minimalist
		option impressive
		option styled
		option integrated
		option appealing
		option uninspired
		option pleasing
		option nomi
		option xyz
		option opulent
		option organic
		option mediterranean
		option comprehensive
		option latino
		option casual
		option delicious
		option scandinavian
		option blend
		option rich
		option quirky
		option mash
		option groovy
		option kitschy
		option arty
		option chino
		option malaysian
		option risotto
		option entree
		option aesthetic
		option indian
		option fusion
		option portuguese
		option intimate
		option specialty
		option vegetarian
		option oysters
		option colonial
		option unpretentious
		option ornate
		option clever
		option olde
		option retro
		option slick
		option sophistication
		option sublime
		option varied
		option kitsch
		option subdued
		option masculine
		option influence
		option flavour
		option futuristic
		option iranian
		option sumptuous
		option culinary
		option menu
		option ambience
		option attractive
		option onion
		option unremarkable
		option designs
		option sleek
		option stylish
		option motif
		option bland
		option decadent
		option upscale
		option nina
		option forgettable
		option gilt
		option intimacy
		option hawaiian
		option themes
		option french
		option austere
		option omlette
		option oily
		option theme
		option stately
		option healthy
		option trendy
		option buzzy
		option contempory
		option timeless
		option mushroom
		option classic
		option sumptious
		option unparalleled
		option indulgent
		option mural
		option funky
		option artist
		option designers
		option nostalgic
		option entertaining
		option scallops
		option clubby
		option marvel
		option astonishing
		option nautical
		option chic
		option grilled
		option soothing
		option classy
		option cod
		option unusual
		option upbeat
		option architectural
		option emphasis
		option browns
		option murals
		option orchid
		option gourmet
		option hip
		option styling
		option fabrics
		option passion
		option mahara
		option buddha
		option offerings
		option lebanese
		option artwork
		option chandelier
		option architect
		option sexy
		option entrees
		option tomato
		option adventurous
		option soups
		option vegan
		option novel
		option exciting
		option tuna
		option ambiance
		option featuring
		option design
		option bold
		option society
		option lamb
		option homely
		option flavor
		option carved
		option modern
		option extravagant
		option polite
		option courteous
		option freindly
		option cordial
		option gracious
		option friendy
		option attentive
		option pleasant
		option congenial
		option amiable
		option curteous
		option responsive
		option frendly
		option pleasent
		option speak
		option proficient
		option professional
		option friendlier
		option interact
		option courtious
		option curtious
		option personable
		option fluent
		option unfriendly
		option inexperienced
		option hospitable
		option interacted
		option spoke
		option interaction
		option accommodating
		option considerate
		option trained
		option cope
		option indifferent
		option communicating
		option rude
		option surly
		option aloof
		option snooty
		option accomidating
		option caring
		option competent
		option assist
		option disinterested
		option bilingual
		option accomodating
		option brusque
		option understanding
		option interactions
		option cheerful
		option welcoming
		option clueless
		option solicitous
		option dealt
		option overworked
		option language
		option help
		option skills
		option smiling
		option impolite
		option speaks
		option obliging
		option sympathetic
		option grasp
		option employ
		option snotty
		option foreign
		option locate
		option apathetic
		option engaging
		option curt
		option anticipate
		option cooperative
		option frosty
		option snobby
		option respectful
		option patient
		option dealings
		option smile
		option accomodate
		option contact
		option attentative
		option speaking
		option unsympathetic
		option uninterested
		option communication
		option sullen
		option manning
		option accommodate
		option trustworthy
		option navigate
		option enthusiastic
		option dealing
		option knowledgeable
		option mannered
		option incompetent
		option concierge
		option smiley
		option friendliest
		option respond
		option communicated
		option intelligent
		option operate
		option uncaring
		option timely
		option untrained
		option supportive
		option overwhelmed
		option tasks
		option cheery
		option arrogant
		option abrupt
		option apologetic
		option moody
		option ignorant
		option swamped
		option housecleaning
		option understand
		option civil
		option inattentive
		option hopeless
		option unhelpful
		option members
		option conscientious
		option unattentive
		option unconcerned
		option harried
		option approachable
		option frontdesk
		option grumpy
		option inept
		option explain
		option react
		option attitude
		option recognize
		option bi
		option friendliness
		option encounter
		option recognise
		option english
		option questions
		option spoken
		option dismissive
		option training
		option cater
		option charming
		option committed
		option helpful
		option politeness
		option resolve
		option attentiveness
		option accomadate
		option lingual
		option plesant
		option uninformed
		option unobtrusive
		option disorganised
		option engage
		option proactive
		option kindness
		option talk
		option handled
		option identify
		option queries
		option behave
		option directions
		option assisting
		option staffed
		option teach
		option fulfill
		option knowledgable
		option cleaning
		option convey
		option kind
		option understood
		option unresponsive
		option unprofessional
		option cared
		option uniformly
		option aggressive
		option translate
		option smiles
		option distracted
		option proffesional
		option assistance
		option concierges
		option cheat
		option pushy
		option genuine
		option oriented
		option spanish
		option compliment
		option approach
		option helpfulness
		option commend
		option behaved
		option efficient
		option responded
		option discreet
		option uniforms
		option polite
		option gracious
		option cordial
		option courteous
		option welcoming
		option pleasent
		option attentive
		option congenial
		option personable
		option freindly
		option professional
		option hospitable
		option delightful
		option frendly
		option accommodating
		option curteous
		option amiable
		option friendy
		option upbeat
		option accomodating
		option intelligent
		option curtious
		option respectful
		option nice
		option caring
		option plesant
		option accomidating
		option discreet
		option courtious
		option lively
		option cheery
		option relaxed
		option thoughtful
		option mellow
		option competent
		option charming
		option inviting
		option responsive
		option youthful
		option solicitous
		option smiley
		option obliging
		option relaxing
		option considerate
		option cheerful
		option attentative
		option enjoyable
		option engaging
		option oriented
		option knowledgeable
		option serene
		option energetic
		option friendlier
		option wonderful
		option efficient
		option smiling
		option lovely
		option cooperative
		option approachable
		option friendliest
		option civilised
		option peaceful
		option calming
		option buzzy
		option helpful
		option conscientious
		option tranquil
		option proffesional
		option unfriendly
		option moody
		option sophisticated
		option welcome
		option informative
		option genuine
		option attractive
		option dedicated
		option snooty
		option frosty
		option sympathetic
		option entertaining
		option smart
		option calm
		option active
		option young
		option civilized
		option talented
		option refreshing
		option unobtrusive
		option clad
		option knowledgable
		option aloof
		option atmospheric
		option happy
		option enthusiastic
		option festive
		option surly
		option buzzing
		option proficient
		option rude
		option pleasing
		option exceptional
		option frenetic
		option informal
		option fun
		option refined
		option indifferent
		option patient
		option manning
		option handsome
		option busy
		option soothing
		option inexperienced
		option apologetic
		option impolite
		option brusque
		option timely
		option interesting
		option vibrant
		option grumpy
		option hip
		option helpfull
		option cool
		option civil
		option mature
		option impressive
		option cocktail
		option sexy
		option snobby
		option unique
		option accomadating
		option classy
		option prompt
		option terrific
		option subdued
		option polished
		option bustling
		option gathering
		option concierge
		option outstanding
		option warmly
		option frantic
		option restful
		option trendy
		option quick
		option discrete
		option uniform
		option elegant
		option attracts
		option pleasurable
		option chatty
		option omar
		option abrupt
		option formal
		option satisfying
		option overworked
		option supportive
		option slick
		option eager
		option welcomed
		option appropriately
		option welcomes
		option members
		option intimidating
		option unpleasant
		option sincere
		option proud
		option jason
		option throughout
		option smile
		option trained
		option cozy
		option unwelcoming
		option colorful
		option bellmen
		option subtle
		option clientelle
		option harried
		option rich
		option chilled
		option snobbish
		option mingle
		option comforting
		option casual
		option effecient
		option swamped
		option hectic
		option orientated
		option superb
		option remembers
		option capable
		option professionals
		option quiet
		option kind
		option memorable
		option enjoying
		option friendliness
		option diverse
		option swanky
		option doormen
		option popular
		option operation
		option stream
		option raise
		option abuse
		option alleged
		option organization
		option raised
		option raising
		option illness
		option continuing
		option embarrassment
		option exam
		option angled
		option intentionally
		option inappropriate
		option resulting
		option resulted
		option injured
		option earthquake
		option ankle
		option causing
		option nozzle
		option agreement
		option ounce
		option obscene
		option discretion
		option actions
		option agressive
		option angle
		option appropriate
		option shoulder
		option practice
		option perception
		option damages
		option elderly
		option intense
		option oxygen
		option oversight
		option overseas
		option force
		option enclosure
		option authorization
		option increased
		option adjustment
		option scalded
		option increase
		option existence
		option mini
		option fear
		option episode
		option effect
		option unwanted
		option lowered
		option idiot
		option misery
		option creates
		option unfortunate
		option revenue
		option increasing
		option ordeal
		option gushing
		option upsetting
		option insulting
		option unpleasant
		option excuse
		option obnoxious
		option cutting
		option unknown
		option reducing
		option embarrassing
		option rights
		option accused
		option adjustable
		option aggressive
		option nuisance
		option inflexible
		option extreme
		option human
		option flow
		option extent
		option assurance
		option inconvience
		option openly
		option toes
		option insult
		option unaware
		option insufficient
		option account
		option danger
		option hose
		option accompanying
		option absurd
		option dribble
		option victim
		option monkey
		option urgency
		option consumed
		option bikini
		option overflow
		option brain
		option incompetence
		option flooding
		option interrupt
		option overweight
		option knees
		option legal
		option licence
		option excess
		option issue
		option pipe
		option regulations
		option attempt
		option attack
		option created
		option continually
		option whisky
		option allergy
		option illegal
		option requiring
		option embarrassed
		option liability
		option awkward
		option ashamed
		option demeanor
		option reduced
		option economy
		option argument
		option illusion
		option undesirable
		option commended
		option stools
		option conducted
		option gentle
		option role
		option economic
		option presumably
		option profit
		option invitation
		option outage
		option recession
		option current
		option investigated
		option icy
		option detached
		option responsible
		option oblivious
		option caused
		option anti
		option ignoring
		option released
		option incentive
		option foolish
		option patrons
		option behaviour
		option global
		option acknowledgement
		option identity
		option amused
		option individual
		option existing
		option strict
		option failure
		option stroke
		option mixer
		option irate
		option presence
		option philosophy
		option infant
		option placing
		option manages
		option inexcusable
		option absence
		option airplane
		option overcome
		option forgiven
		option proud
		option indication
		option plug
		option pouring
		option incidental
		option succeeded
		option behavior
		option tolerated
		option attracts
		option investigation
		option tendency
		option pockets
		option immense
		option inability
		option honour
		option considerate
		option audience
		option annoyance
		option dissatisfied
		option translation
		option tolerance
		option arrogant
		option case
		option arrogance
		option sloped
